<div class="board siimple-bg--green">

  <div v-show="showModal" class="board__readyModal">
    <div class="board__readyBtn" v-on:click="readyToPlay">\{{modalMessage}}</div>
  </div>

  <div class="board__selfBoard">
    <h1>YOUR WORD</h1>
    <input type="text" name="" class="board__input board__input--self"
    value="" placeholder="Enter Word" v-model="userResponse">
  </div>

  <template v-if="showCountdown">
  <div class="board__countdownContainer">
    *COUNTDOWN* <div class="board__timer">\{{countdown}}</div> *COUNTDOWN*
  </div>
  </template>

  <div v-if="showResultMessage">
    <div v-if="winner">
      <h3>IT'S A MATCH!</h3>
      \{{userResponse}} \{{otherPlayerMessage}}
    </div>
    <div v-else>
      \{{userResponse}} \{{otherPlayerMessage}}
      <h3>NO MATCH! TRY AGAIN</h3>
      <small>Try to think of what the two words have in common.</small>
    </div>
  </div>

  <div class="board__partnerBoard">
    <h1>PARTNER'S WORD</h1>
    <input type="text" name="" class="board__input board__input--partner" v-bind:value="otherPlayerMessage" readonly>
  </div>


  <div class="board__wordHistory">
    <div class="board__wordHistory--left">
      <ol>
        <li v-for="item in userResponseHistory.map( el => el[0] )">
          \{{item}}
        </li>
      </ol>
    </div>
    <div class="board__wordHistory--right">
      <ol>
        <li v-for="item in userResponseHistory.map( el => el[1] )">
          \{{item}}
        </li>
      </ol>
    </div>
  </div>

</div>
